table(class="table table-striped table-bordered category_table")
  thead
    tr
      td
        div.category_name
          strong Название
      td
        div.category_action
  tbody
    each cat in categories
      tr
        td
          div.category_name
            input(type='hidden' class='category-id' value=cat.id)
            if cat.edit
              input(type='text' class='form-control category-name' value=cat.name)
            else
              =cat.name
        td
          div.category_action
            if cat.edit
              button(class='btn btn-default btn-sm category_save')
                span(class='glyphicon glyphicon-ok' aria-hidden='true')
            else
              div.action_wrapper
                a(href='#' class='category_edit')
                  span(class='glyphicon glyphicon-pencil' aria-hidden='true')
                a(href='#' class='category_delete')
                  span(class='glyphicon glyphicon-trash' aria-hidden='true')
