.category_name {
    width: 17rem;
}

.category_action {
   width: 2.6rem;
}

.action_wrapper {
    display: none;
}

.category_table tr:hover .action_wrapper {
    display: inline-block;
}

.category_edit,
.category_delete {
    margin: 0 6px 0 0;
    color: #c8c8c8;
}

.category_edit:hover,
.category_delete:hover {
    color: #ff5a00;
}
