{% extends 'shared/layout.html' %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='build/fastSpending.css') }}">
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='build/fastSpending.js') }}"></script>
{% endblock %}

{% block menu %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active">Расходы</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/statistic">Статистика</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/category">Категории</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/debt">Долги</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/user-config">Настройки</a>
    </li>
  </ul>
  <nav class="mt-3">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="/spending">Просмотр</a>
      </li>
      <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true">Быстрый расход</a>
      </li>
    </ul>
  </nav>
{% endblock %}

{% block body %}
  <div id="fastSpending-js"></div>
{% endblock %}
