{% extends 'shared/layout.html' %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='built/reactSpending.css') }}">
{% endblock %}

{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <script src="{{ url_for('static', filename='built/reactSpending.js') }}"></script>
{% endblock %}

{% block menu %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active">Расходы</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="/statistic">Статистика</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/category">Категории</a>
    </li>
  </ul>
{% endblock %}

{% block body %}
  <div id="spending"></div>
{% endblock %}