<table class="spending_table table table-striped">
  <thead>
    <tr>
        <td>Дата</td>
        <td>Сумма</td>
        <td>Текст</td>
        <td>Категория</td>
        <td>a</td>
    </tr>
  </thead>
  <tbody>

    {% for spending in spending_list %}
      <tr>
        <td>
          <div class="spending_date">{{ spending.date }}</div>
        </td>
        <td>
          <div class="spending_sum">{{ spending.sum }}</div>
        </td>
        <td>
          <div class="spending_text">{{ spending.text|safe }}</div>
        </td>
        <td>
          <div class="spending_category">{{ spending.category }}</div>
        </td>
        <td>
          <div class="spending_action">
            <a href="#" class="spending_delete"><span class="glyphicon glyphicon-pencil"></span></a>
          </div>
        </td>
      </tr>
    {% endfor %}

  </tbody>
</table>
