.spending_date {
    width: 4.2rem;
}

.spending_sum {
    width: 4.9rem;
}

.spending_text {
    width: 15rem;
}

.spending_category {
    width: 6.5rem;
}

.spending_action {
    width: 2.6rem;
}

.action_wrapper {
    display: none;
}

.spending_table tr:hover .action_wrapper {
    display: inline-block;
}

.spending_edit,
.spending_delete {
    margin: 0 6px 0 0;
    color: #c8c8c8;
}

.spending_edit:hover,
.spending_delete:hover {
    color: #ff5a00;
}
