.tab_title {
    padding: 25px 0 15px 0;
}

.category_name {
    width: 200px;
}

.category_action {
   width: 40px;
}

.action_wrapper {
    display: none;
}

.category_table tr:hover .action_wrapper {
    display: inline-block;
}

.category_edit,
.category_delete {
    margin: 0 6px 0 0;
    color: #c8c8c8;
}

.category_edit:hover,
.category_delete:hover {
    color: #ff5a00;
}
