<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{ csrf_token() }}">


    <title>Плохой баланс</title>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='built/bootstrap/css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='site.css') }}">

    {% block styles %}{% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><strong>Bad Balance</strong></a>
        </div>

        <div class="navbar-right">
          <p class="navbar-text"><span class="glyphicon glyphicon-user"></span> {{ g.user_context.login }}</p>
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('auth.logout') }}">Выйти <span class="glyphicon glyphicon-log-out"></span></a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      {% block menu %}{% endblock %}
    </div>

    <div class="container">

      {% for message in get_flashed_messages() %}
        <div>{{ message }}</div>
      {% endfor %}

      {% block body %}{% endblock %}
    </div>

    <footer>
      <div class="container">
        <p class="text-muted">Плохой баланс 2017</p>
      </div>
    </footer>

    {% block scripts %}{% endblock %}

  </body>
</html>