.incoming_date {
    width: 4.2rem;
}

.incoming_sum {
    width: 4.9rem;
}

.incoming_text {
    width: 22.3rem;
}

.incoming_action {
    width: 2.6rem;
}

.action_wrapper {
    display: none;
}

.incoming_table tr:hover .action_wrapper {
    display: inline-block;
}

.incoming_edit,
.incoming_delete {
    margin: 0 6px 0 0;
    color: #c8c8c8;
}

.incoming_edit:hover,
.incoming_delete:hover {
    color: #ff5a00;
}
