{% extends 'shared/layout.html' %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='build/coopSpending.css') }}">
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='build/coopSpending.js') }}"></script>
{% endblock %}

{% block menu %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="/spending">Расходы</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/statistic">Статистика</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/category">Категории</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/debt">Долги</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active">Кооператив</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/user-config">Настройки</a>
    </li>
  </ul>
{% endblock %}

{% block body %}
  <input type="hidden" id="coopId-js" value="{{ coop_id }}">
  <div id="coopSpending-js"></div>
{% endblock %}