<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Плохой баланс</title>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='built/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cover.css') }}">

  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">BadBalance</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Главная</a></li>
                  <li><a href="{{ url_for("auth.login_page") }}">Войти</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Плохой баланс.</h1>
            <p class="lead">Попробуй посчитать сколько бабла ты тратишь на всякую ерунду. После этого ты узнаешь, что тебе никогда не скопить много денег.</p>
            <p class="lead">
              <a href="{{ url_for("registration.registration") }}" class="btn btn-lg btn-default">Зарегистрироваться</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Плохой баласн 2017, by <a>slam_V</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
  </body>
</html>
