<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='built/bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='registration.css') }}">
  <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  <script src="{{ url_for('static', filename='jquery-1.11.3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>


</head>
<body>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Плохой Банс</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">КТО</a></li>
        <li><a href="#">ЧТО</a></li>
        <li><a href="#">КАК</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid bg-1 text-center">
  <h3>Кто я?</h3>
  <img src="{{ url_for('static', filename='images/rub.png') }}" class="img-circle img-responsive" style="display:inline" alt="Монеты">
  <h3>Плохой баланс</h3>
</div>

<div class="container-fluid bg-2 text-center">
  <h3>Что со мной?</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <form class="form-inline" action="{{ url_for('.register') }}" method=post>
    {{ form.csrf_token }}
    <label for="inputEmail" class="sr-only">{{ form.login.label.text }}</label>
    <input id=inputEmail type=email class="form-control" size="20" placeholder="Email" name="{{ form.login.name }}" required>

    <label for="inputPassword" class="sr-only">{{ form.password.label.text }}</label>
    <input id=inputPassword type="password" class="form-control" size="20" placeholder="Пароль" name="{{ form.password.name }}" required>
    <button type="submit" class="btn btn-primary">
      <span class="glyphicon glyphicon-search"></span> Начать следить
    </button>
  </form>
</div>

<div class="container-fluid bg-3 text-center">
  <h3>Как это исправить?</h3>
  <div class="row">
    <div class="col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <img src="{{ url_for('static', filename='images/graph.png') }}" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <img src="{{ url_for('static', filename='images/graph.png') }}" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <img src="{{ url_for('static', filename='images/graph.png') }}" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div>

<footer class="container-fluid bg-4 text-center">
  <p>Плохой баланс на <a href="http://www.w3schools.com">www.badballance.com</a></p>
</footer>

</body>
</html>
