<!doctype html>
<html lang=en>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Плохой баланс</title>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='built/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='signin.css') }}">

  </head>

  <body>
    <div class="container">

      <form action="{{ url_for('.register') }}" method=post class="form-signin">
        <h2 class="form-signin-heading">Регистрация</h2>
        {% if error_message %}
          <p>{{ error_message }}</p>
        {% endif %}

        {{ form.csrf_token }}

        <label for="inputEmail" class="sr-only">{{ form.login.label.text }}</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="{{ form.login.label.text }}" name="{{ form.login.name }}" required autofocus>

        <label for="inputPassword" class="sr-only">{{ form.password.label.text }}</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="{{ form.password.label.text }}" name="{{ form.password.name }}" required>

        <button class="btn btn-lg btn-primary btn-block" type=submit>Регистрация</button>
      </form>

    </div>

  </body>
</html>