{% extends 'shared/layout.html' %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='build/debt.css') }}">
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='build/debt.js') }}"></script>
{% endblock %}

{% block menu %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="/spending">Расходы</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="/statistic">Статистика</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/category">Категории</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/debt">Долги</a>
    </li>
  </ul>
{% endblock %}

{% block body %}
  <div id="debt-js"></div>
{% endblock %}