{% extends 'shared/layout.html' %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='build/statistic.css') }}">
{% endblock %}

{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
  <script src="{{ url_for('static', filename='build/statistic.js') }}"></script>
{% endblock %}

{% block menu %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="/spending">Расходы</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active">Статистика</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/category">Категории</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/debt">Долги</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/user-config">Настройки</a>
    </li>
  </ul>
{% endblock %}


{% block body %}
  <div id="statistic-js"></div>
{% endblock %}
