{% extends 'shared/layout.html' %}

{% block styles %}
{% endblock %}


{% block scripts %}
{% endblock %}


{% block menu %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="/spending">Расходы</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active">Статистика</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/category">Категории</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/debt">Долги</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/user-config">Настройки</a>
    </li>
  </ul>
{% endblock %}


{% block body %}
  <h3>Сатитистика расходов</h3>

{% endblock %}
