{% extends 'shared/layout.html' %}

{% block styles %}
{#  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='build/userConfig.css') }}">#}
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='build/userConfig.js') }}"></script>
{% endblock %}

{% block menu %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="/spending">Расходы</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/statistic">Статистика</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/category">Категории</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/debt">Долги</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active">Настройки</a>
    </li>
  </ul>
{% endblock %}

{% block body %}
  <div id="userConfig-js"></div>
{% endblock %}
